# Model Building

In [1]:
#Import the required Libraries
import numpy as np
import pandas as pd
from IPython.display import display

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings("ignore")

import pandas as pd
pd.set_option('display.max_rows', 2000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
raw_data = pd.read_csv("Trady Flow - Best Options Trade Ideas.csv")
pd.options.display.max_columns = None
raw_data.head()

              Time   Sym   C/P         Exp  Strike   Spot  BidAsk  Orders    Vol    Prems     OI  Diff(%)  ITM
0  6/17/2022 15:07  ISEE  Call  10/21/2022    10.0   9.54    5.05       7    360  183.60K  4.07K     4.71    0
1  6/17/2022 15:05  CVNA  Call   1/19/2024    60.0  23.52    4.60       7    634  310.66K    130   155.05    0
2  6/17/2022 14:51  PTLO   Put   2/17/2023    15.0  15.19    3.50       7    800  281.00K      0     1.39    0
3  6/17/2022 14:39  TWLO  Call   6/24/2022    86.0  84.51    2.95       5    722  198.80K    436     2.48    0
4  6/17/2022 13:56  ATUS   Put   9/16/2022     7.0   8.62    0.68       5  6.27K  501.84K  8.63K    23.13    0

In [3]:
raw_data['Date'] = pd.to_datetime(raw_data['Time']).dt.date

In [4]:
raw_data.head()

              Time   Sym   C/P         Exp  Strike   Spot  BidAsk  Orders    Vol    Prems     OI  Diff(%)  ITM        Date
0  6/17/2022 15:07  ISEE  Call  10/21/2022    10.0   9.54    5.05       7    360  183.60K  4.07K     4.71    0  2022-06-17
1  6/17/2022 15:05  CVNA  Call   1/19/2024    60.0  23.52    4.60       7    634  310.66K    130   155.05    0  2022-06-17
2  6/17/2022 14:51  PTLO   Put   2/17/2023    15.0  15.19    3.50       7    800  281.00K      0     1.39    0  2022-06-17
3  6/17/2022 14:39  TWLO  Call   6/24/2022    86.0  84.51    2.95       5    722  198.80K    436     2.48    0  2022-06-17
4  6/17/2022 13:56  ATUS   Put   9/16/2022     7.0   8.62    0.68       5  6.27K  501.84K  8.63K    23.13    0  2022-06-17

In [5]:
raw_data.shape

(7827, 14)

In [6]:
raw_data.groupby('Sym').size()

Sym
A         2
AA       41
AAL      57
AAPL     48
ABBV     19
ABC       1
ABCL      1
ABNB     16
ABT       4
ABUS      1
ACAD      1
ACB       1
ACI       1
ACM       1
ACMR      6
ACN       4
ACWI      1
ADBE      8
ADI      19
ADM       1
ADNT      1
ADP       1
ADS       4
ADSK      2
ADT       1
AEHR      1
AEM       4
AEO      11
AER       2
AES       4
AFRM     47
AG        3
AGC       3
AHT       2
AI        5
AIG       2
AKAM     18
ALB       5
ALEC      1
ALGN      1
ALGT      4
ALK       3
ALL       1
ALLY      3
ALNY      2
AMAT     17
AMBA      2
AMC      30
AMCX      1
AMD      50
AMED      1
AMGN     10
AMRS      1
AMT       2
AMZN     30
AN        2
ANF       5
ANTM      2
ANY       3
AON       4
AOUT      3
APA       8
APLS      1
APO       1
APP       1
APPS      6
APSG      1
AR       18
ARCT      1
ARE       1
ARKG      3
ARKK     23
ARNC      5
ARQQ      2
ARRY      3
ARVL      4
ARVN      2
ARWR      1
ASAN      5
ASHR      1
ASLE      1
ASML      2
ASO      20
ASTR      1
ASTS      3
ATAI      1
ATER     12
ATHM      4
ATI       1
ATOM      1
ATOS      9
ATUS      5
ATVI     24
AU        2
AUPH     17
AUY       2
AVGO      4
AVIR      3
AVT       1
AVTR      3
AVYA      7
AXP       9
AXSM      2
AYX       2
AZN      11
BA       24
BABA     37
BAC      49
BALY      1
BAND      1
BARK      2
BB       10
BBAI      1
BBBY     11
BBD       1
BBIG      4
BBWI     17
BBY       8
BCE       1
BCOR      1
BCRX     11
BCS       2
BDX       2
BE        5
BECN      2
BEKE     25
BFLY      1
BG        4
BGCP      1
BGFV      7
BGS       2
BHC       5
BHP       3
BHVN      1
BIDU     31
BIG       2
BIGC      2
BIIB      5
BILI     19
BILL      9
BIRD      2
BITF     13
BITO      2
BK        1
BKE       1
BKKT      8
BKR       1
BKSY      1
BL        1
BLK       4
BLL       1
BLMN      3
BLNK      3
BMBL      3
BMRN      1
BMY      17
BNGO      1
BNTX     10
BODY      1
BOXD      1
BP       15
BRCC      2
BRK/B    18
BRKS      1
BROS      3
BSX       5
BTBT     10
BTCM      3
BTI       3
BTU       9
BUD       1
BURL      3
BX        8
BXC       2
BYD       2
BYND     18
BYSI      1
C        51
CAH       2
CALX      1
CAN       2
CANO      4
CAR      10
CARG      1
CAT      18
CBOE      2
CBRE      1
CCIV      6
CCJ      27
CCL      48
CCXI      6
CDAY      1
CDEV      4
CEI       1
CEIX      1
CELH      1
CELU      1
CEVA      1
CF        6
CFG       2
CFLT      3
CFVI      2
CG        1
CGC      11
CHGG      2
CHPT      3
CHRW      4
CHTR      2
CHWY     15
CHX       2
CI        3
CIEN      1
CL        2
CLAR      1
CLDX      1
CLF      46
CLH       1
CLNE      3
CLOV     11
CLSK      1
CLVT      2
CLX       4
CM        1
CMCSA    29
CME       2
CMG       2
CMPS      5
CMS       1
CNC       4
CND       2
CNI       1
CNK       1
CNMD      1
COF       3
COG       4
COHU      1
COIN     39
COMM      2
COOP      1
COP      10
CORZ      3
COST      9
COTY     10
COUP      3
COUR      1
CP        3
CPE      13
CPNG     16
CPRI      5
CPRT      1
CREE      3
CRI       1
CRM      26
CRNC      1
CROX     12
CRSP      7
CRSR      5
CRTD      1
CRTO      4
CRTX      1
CRUS      1
CRWD     17
CS        4
CSCO     27
CSIQ      2
CSX       1
CTLT      1
CTRN      1
CTXS      2
CVAC      1
CVE       7
CVM       3
CVNA     11
CVS      19
CVX      31
CWH       6
CX        4
CXW       1
CYTK      1
CZR      24
DAC       7
DAL      43
DAO       1
DAR       1
DASH     28
DB        4
DBI       1
DBX       6
DCP       1
DCRC      1
DD        2
DDD       4
DDOG     19
DE        1
DECK      3
DELL      9
DFS       1
DGX       1
DHI       9
DHR       5
DHT       1
DIA       5
DIDI     14
DINO      1
DIS      26
DISCA    36
DISCK    11
DISH      6
DKNG     33
DKS       4
DLO       1
DLTR     10
DM        4
DMYI      1
DNA       2
DNMR      7
DO        1
DOCN     11
DOCS      1
DOCU     12
DOMA      1
DOW       7
DPZ       4
DQ       13
DRI       5
DRNA      1
DT       11
DUK       1
DVAX      4
DVN      15
DWAC     10
EA        6
EAT       2
EBAY     18
EBIX      1
ECL       1
EDIT      2
EDU      21
EEM      10
EFA       7
EFX       2
EGHT      3
EH        2
EIX       1
EL        3
ELAN      1
ELF       2
ELY       2
EMB       1
ENB       1
ENPH     13
ENVX      1
EOG       4
EOSE      1
EQR       1
EQT      12
ERIC      1
ESI       1
ESSC      2
ESTC      3
ET       15
ETSY      9
EVBG      3
EVGO      3
EVH       1
EVLO      1
EVTL      1
EW        1
EWT       1
EWZ       6
EXAS      3
EXC       1
EXPE     30
EZU       1
F        77
FANG     12
FAS       1
FATE      1
FB       54
FBRX      5
FCEL      8
FCX      57
FDX      14
FFIE      3
FHN       1
FIGS      4
FIS      10
FISV      7
FIVE      2
FIVN      9
FIZZ      1
FL        5
FLR       3
FMC       1
FND       1
FNV       5
FOUR      2
FROG      1
FRX       1
FSLR     20
FSLY      7
FSR      11
FTAI      1
FTCH     17
FTI       1
FUBO     12
FUN       1
FUTU     23
FUV       5
FVRR      6
FXI       4
FYBR      2
GDDY      1
GDOT      1
GDRX      3
GDS      11
GDX       3
GE       22
GENI      1
GEO       1
GES       1
GEVO      2
GFI       1
GGPI      2
GILD     14
GILT      1
GIS       1
GLBE      4
GLD      13
GLW       1
GM       59
GME      18
GNRC      1
GOEV      1
GOLD     15
GOOG     29
GOOGL    41
GOOS      1
GOTU      7
GPMT      1
GPN       5
GPRE      3
GPS       8
GRAB      1
GREE      6
GRMN      1
GRPN      5
GRWG      3
GS       24
GSAT      5
GSK       2
GSL       2
GT        4
GUSH      1
GWH       2
H         5
HAL       5
HAS       2
HBI       1
HCA       3
HCI       1
HCM       1
HCP       2
HD       14
HEAR      1
HES       3
HIG       1
HIMX      1
HLT      13
HOFV      1
HOG       6
HON       2
HOOD     11
HP        2
HPQ       7
HSBC      2
HTA       2
HTHT      8
HTZ       8
HUM       3
HUT       7
HUYA      1
HYFM      1
HYG       4
HYLN      1
HYMC      1
HYRE      5
HYZN      2
HZNP      3
IAA      12
IAC       1
IBB       1
IBM      12
ICHR      1
ICLR      2
IFF       3
IGT       2
IIVI      2
IMAX      2
IMGN      2
INDA      1
INDI      1
INFO      1
ING       1
INMD      3
INTC     50
INTU      5
INVZ      2
IONQ      6
IOVA      3
IP        1
IPGP      2
IPOF      1
IQ        3
IR        1
IRBT      4
IRNT      8
IRWD      1
ISEE      8
ISRG      5
IT        1
ITUB      2
IVV       1
IWM      62
IYR       2
J         1
JACK      1
JAZZ      2
JBL       1
JBLU      6
JD       36
JKS       1
JMIA      3
JNJ      15
JNPR      1
JOBY      6
JPM      27
JWN       5
K         2
KBH       9
KDMN      1
KDNY      1
KDP       1
KEY       1
KEYS      1
KGC       1
KHC       5
KKR       3
KLAC      1
KLIC      1
KLR       1
KMPH      2
KMX       2
KNSL      1
KO       10
KOD       1
KODK      1
KOPN      1
KPLT      3
KR       10
KRE       5
KRNT      1
KRYS      1
KSS      11
KSU       1
KTOS      2
KWEB     12
LABU      1
LAC      12
LAW       1
LAZR      3
LB        3
LC        9
LCID     35
LEA       1
LEN       6
LESL      2
LGND      1
LH        4
LHDX      1
LHX       1
LI        7
LILM      2
LIN       1
LIT       1
LLY      10
LMND     13
LMT       8
LNC       1
LNG       2
LOGI      7
LOTZ      1
LOVE      2
LOW      17
LPI       1
LQD       1
LRCX     16
LSPD      8
LTHM      1
LU        5
LULU      2
LUMN      7
LUV      25
LVS      37
LW        1
LYB       1
LYFT     33
LYV      23
LZ        1
M        25
MA       31
MAA       1
MAC       3
MAG       1
MAR      14
MARA     26
MAS       1
MAT       1
MCD       8
MCHP      3
MCK       1
MCRI      1
MDB       4
MDLZ      1
MDT       8
ME        1
MELI      5
MEOH      1
MET       2
META      1
MGA       2
MGI       2
MGM       8
MGNI      6
MITT      1
MLCO      6
MLM       2
MMC       2
MMM       2
MMYT      1
MNDY      2
MNKD      2
MNST      3
MNTS      1
MO        5
MOD       1
MOMO      2
MOS      27
MOXC      4
MP       11
MPC      15
MQ        7
MRIN      1
MRK      28
MRNA     29
MRO      12
MRVL     27
MS       27
MSFT     39
MSGE      1
MSTR      7
MT       21
MTCH     21
MTTR      7
MTZ       2
MU       38
MULN      4
MUX       1
MVIS      2
MVST      3
MYPS      1
NCLH     27
NCR      10
NCTY      1
NDAQ      2
NEE      14
NEGG      3
NEM      12
NET      14
NEWR      2
NEX       5
NFE       1
NFLX     44
NIO      29
NIU       1
NKE      31
NKLA     17
NNDM      2
NOC       1
NOK       1
NOV       2
NOVA      2
NOW       9
NRG       3
NRZ       1
NSTG      1
NTES      9
NTNX      7
NTR       2
NTRA      3
NU        2
NUE      14
NVAX     23
NVCR      3
NVDA     56
NVMI      1
NVO       1
NVS       5
NVTA      3
NWSA      1
NXE       1
NXPI      2
NXTD      2
O         1
OCGN      1
OCUL      1
OKE       4
OKTA      7
OLLI      1
OLN       1
ON        5
ONEM      4
ONON      7
OPAD      2
OPEN     21
OPFI      1
ORCL     17
ORGN      1
OSH       4
OSTK      5
OTIS      2
OTLY      3
OUST      1
OVV       1
OWL       2
OXY      37
OZON      2
PAA       2
PAAS      2
PACB      1
PAGS     14
PANW     10
PARA      7
PATH     11
PBF       1
PBR      27
PBT       2
PCAR      1
PCG       2
PCT       2
PDD      26
PENN     13
PEP       4
PERI      3
PETS      1
PFE      38
PFGC      1
PFSI      3
PG       13
PGR       1
PH        2
PHM       3
PHR       1
PII       1
PINS     32
PLAN      2
PLAY      4
PLBY      3
PLCE      4
PLD       1
PLTR     34
PLUG     30
PM        1
PNC       1
POSH      1
PPC       1
PRCH      3
PRGO      3
PROG      4
PRPL      1
PRTY      1
PRU       2
PRVB      2
PSAC      4
PSEC      1
PSFE      3
PSTG      9
PSX       4
PTLO      2
PTON     28
PTRA      1
PUBM      3
PVH       7
PWR       1
PWSC      1
PXD       6
PYPL     35
QCOM     26
QDEL      3
QFIN      2
QQQ      29
QRVO      1
QS       22
QURE      1
RACE      2
RAMP      1
RBAC      2
RBLX     24
RCII      1
RCL      29
RDBX      3
RDS/A     5
RDS/B     7
RDW       1
REAL      6
REGN      3
REI       2
REKR      4
REV       2
RF        2
RGEN      2
RH        1
RIDE      5
RIG      14
RIO       8
RIOT     19
RIVN      7
RKLB      2
RKT       6
RL        1
RLX       9
RMD       1
RMO       2
RNG       5
ROKU     32
ROM       1
ROOT      6
ROST      1
RRC       2
RSI       2
RSKD      1
RSX       2
RTX       3
RUN      18
RVLV      6
RVP       1
S         5
SABR      4
SAGE      1
SAM       1
SAP       2
SAVA     12
SAVE      8
SBSW      1
SBUX     20
SCCO      3
SCHW      4
SDGR      1
SE       24
SEAS      5
SEDG      2
SEEL      1
SENS      4
SFM       2
SGEN      2
SGH       3
SHAK      4
SHEL      4
SHOP     29
SHW       1
SI        5
SIMO      4
SIX       3
SJM       1
SKIN      1
SKLZ     15
SKT       1
SKX       2
SKYY      1
SLB      20
SLCA      1
SLV      10
SM        2
SMAR      3
SMFR      1
SMG       2
SMH       2
SNAP     58
SNOW     28
SNPS      2
SO        2
SOFI     32
SONO      9
SONY      3
SOS       1
SOXL      1
SOXS      4
SOXX      1
SPCE     11
SPG       7
SPGI      2
SPIR      2
SPLK      7
SPOT     10
SPR       1
SPRT      4
SPT       1
SPWR      3
SPXU      1
SPY      41
SQ       32
SQM       1
SRAC      1
SRNE      9
SRNG      1
SRPT      3
SSRM      2
SST       2
SSTK      1
SSYS      1
STAA      2
STE       1
STEM      4
STLA      1
STLD      4
STM       2
STNE      8
STNG      1
STT       1
STX       4
STZ       3
SU        6
SWBI      6
SWKS      5
SYF       2
SYK       1
SYY       1
T        45
TAL      20
TAP       1
TBT       1
TCBI      1
TCOM      4
TD        1
TDC       2
TDOC     11
TDUP      1
TEAM      7
TECK     12
TECL      2
TELL      4
TENB      1
TER       1
TEVA      4
TGT      18
THC       1
TIGR     24
TJX       6
TLRY     21
TLT       9
TMC       3
TMO       2
TMUS      4
TNK       1
TOST      1
TPR       3
TPX       3
TQQQ     17
TRHC      1
TRIP      5
TROW      1
TRTN      3
TRV       1
TSEM      1
TSLA     53
TSM      36
TSN       6
TSP      12
TTCF      1
TTD      25
TTM       2
TTWO      9
TWLO      6
TWTR     42
TXN       8
TXRH      4
U        13
UAA       3
UAL      41
UAN       1
UBER     53
UBS       1
UEC       2
UIS       1
ULTA      2
UNFI      2
UNH       7
UNM       1
UNP       9
UPS      10
UPST     34
UPWK      2
URA       1
URBN      1
URI       2
USB       2
USFD      2
USO       2
UUUU      1
UVXY      5
UWMC      2
UXIN      3
V        26
VALE     24
VEEV      5
VERU     10
VFC       1
VIAC     26
VICI      1
VIH       1
VIPS      6
VLDR      1
VLO      12
VMEO      1
VMW       5
VNET      1
VNOM      1
VOD       4
VOO       2
VRM       6
VRTX      3
VSAT      1
VSCO      5
VST       2
VSTO      1
VTNR      2
VTRS      2
VUZI      2
VXX       5
VZ       11
VZIO      2
W         9
WB        3
WBA      10
WBD       5
WDAY      5
WDC      27
WE        2
WEN       2
WES       1
WFC      59
WHR       2
WISH     11
WIX       4
WKHS      2
WLL       3
WLTW      1
WMT      30
WOLF      1
WPG       1
WPM       3
WRAP      1
WSM       3
WTI       1
WW        5
WWD       1
WYNN     20
X        41
XBI       3
XELA      1
XL        1
XLE      10
XLF      13
XLI       3
XLK       2
XLNX     16
XLRN      2
XLU       1
XLV       3
XLY       2
XM        1
XOM      36
XOP       9
XP        1
XPDI      1
XPEL      1
XPEV     33
XPO       4
XRAY      1
XRT       5
XRX       1
YALA      1
YNDX      3
YUMC      1
YY       11
Z        15
ZBH       1
ZEN       8
ZG        3
ZI        5
ZIM      31
ZIP       2
ZLAB      1
ZM       18
ZNGA      2
ZS       12
ZTS       4
dtype: int64

#### Renaming columns

In [7]:
raw_data.rename(columns={raw_data.columns[1]: 'Symbols', raw_data.columns[2]: 'Option_type', raw_data.columns[3]: 'Expiry', raw_data.columns[4]: 'Strike_price', raw_data.columns[5]: 'Spot_price', raw_data.columns[8]: 'Volume', raw_data.columns[9]: 'Premium'},inplace=True)
raw_data.head()

              Time Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders Volume  Premium     OI  Diff(%)  ITM        Date
0  6/17/2022 15:07    ISEE        Call  10/21/2022          10.0        9.54    5.05       7    360  183.60K  4.07K     4.71    0  2022-06-17
1  6/17/2022 15:05    CVNA        Call   1/19/2024          60.0       23.52    4.60       7    634  310.66K    130   155.05    0  2022-06-17
2  6/17/2022 14:51    PTLO         Put   2/17/2023          15.0       15.19    3.50       7    800  281.00K      0     1.39    0  2022-06-17
3  6/17/2022 14:39    TWLO        Call   6/24/2022          86.0       84.51    2.95       5    722  198.80K    436     2.48    0  2022-06-17
4  6/17/2022 13:56    ATUS         Put   9/16/2022           7.0        8.62    0.68       5  6.27K  501.84K  8.63K    23.13    0  2022-06-17

#### Handling Datatypes

In [8]:
raw_data['Expiry'] = pd.to_datetime(raw_data['Expiry']).dt.date
raw_data.head()

              Time Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders Volume  Premium     OI  Diff(%)  ITM        Date
0  6/17/2022 15:07    ISEE        Call  2022-10-21          10.0        9.54    5.05       7    360  183.60K  4.07K     4.71    0  2022-06-17
1  6/17/2022 15:05    CVNA        Call  2024-01-19          60.0       23.52    4.60       7    634  310.66K    130   155.05    0  2022-06-17
2  6/17/2022 14:51    PTLO         Put  2023-02-17          15.0       15.19    3.50       7    800  281.00K      0     1.39    0  2022-06-17
3  6/17/2022 14:39    TWLO        Call  2022-06-24          86.0       84.51    2.95       5    722  198.80K    436     2.48    0  2022-06-17
4  6/17/2022 13:56    ATUS         Put  2022-09-16           7.0        8.62    0.68       5  6.27K  501.84K  8.63K    23.13    0  2022-06-17

In [9]:
raw_data.dtypes

Time             object
Symbols          object
Option_type      object
Expiry           object
Strike_price    float64
Spot_price      float64
BidAsk          float64
Orders            int64
Volume           object
Premium          object
OI               object
Diff(%)         float64
ITM               int64
Date             object
dtype: object

In [10]:
repl_dict = {'[kK]': '*1e3', '[mM]': '*1e6', '[bB]': '*1e9', }
raw_data['Volume'] = raw_data['Volume'].replace(repl_dict, regex=True).map(pd.eval)
raw_data['Premium'] = raw_data['Premium'].replace(repl_dict, regex=True).map(pd.eval)

In [11]:
raw_data.dtypes

Time             object
Symbols          object
Option_type      object
Expiry           object
Strike_price    float64
Spot_price      float64
BidAsk          float64
Orders            int64
Volume          float64
Premium         float64
OI               object
Diff(%)         float64
ITM               int64
Date             object
dtype: object

In [12]:
raw_data.describe()

       Strike_price   Spot_price       BidAsk       Orders         Volume       Premium      Diff(%)          ITM
count   7827.000000  7827.000000  7827.000000  7827.000000    7827.000000  7.827000e+03  7827.000000  7827.000000
mean     151.178342   148.595490     4.220649     7.109493    2740.656573  7.189672e+05    11.477625     0.679826
std      358.668235   353.566766     5.207856     5.312003    4931.768058  1.484765e+06    19.367772     0.466573
min        1.500000     1.230000     0.110000     5.000000     250.000000  1.252500e+05     0.020000     0.000000
25%       30.000000    28.270000     1.650000     5.000000     708.000000  2.388650e+05     2.110000     0.000000
50%       60.000000    58.950000     3.100000     5.000000    1310.000000  3.676300e+05     5.600000     1.000000
75%      145.000000   145.160000     5.120000     7.000000    2810.000000  6.749750e+05    12.715000     1.000000
max     3950.000000  3755.250000   194.350000   124.000000  131530.000000  6.235000e+07   277.640000     1.000000

#### Dropping insignificant columns from the data

In [13]:
raw_data = raw_data.drop(['Time','OI','ITM'], 1)
raw_data.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date
0    ISEE        Call  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17
1    CVNA        Call  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17
2    PTLO         Put  2023-02-17          15.0       15.19    3.50       7   800.0  281000.0     1.39  2022-06-17
3    TWLO        Call  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17
4    ATUS         Put  2022-09-16           7.0        8.62    0.68       5  6270.0  501840.0    23.13  2022-06-17

In [14]:
raw_data.describe()

       Strike_price   Spot_price       BidAsk       Orders         Volume       Premium      Diff(%)
count   7827.000000  7827.000000  7827.000000  7827.000000    7827.000000  7.827000e+03  7827.000000
mean     151.178342   148.595490     4.220649     7.109493    2740.656573  7.189672e+05    11.477625
std      358.668235   353.566766     5.207856     5.312003    4931.768058  1.484765e+06    19.367772
min        1.500000     1.230000     0.110000     5.000000     250.000000  1.252500e+05     0.020000
25%       30.000000    28.270000     1.650000     5.000000     708.000000  2.388650e+05     2.110000
50%       60.000000    58.950000     3.100000     5.000000    1310.000000  3.676300e+05     5.600000
75%      145.000000   145.160000     5.120000     7.000000    2810.000000  6.749750e+05    12.715000
max     3950.000000  3755.250000   194.350000   124.000000  131530.000000  6.235000e+07   277.640000

In [15]:
raw_data.shape

(7827, 11)

#### Filter the dataset only for "Call"

In [16]:
df_call = raw_data.loc[(raw_data['Option_type'] == 'Call')]
df_call.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date
0    ISEE        Call  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17
1    CVNA        Call  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17
3    TWLO        Call  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17
8      ET        Call  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17
9     WFC        Call  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17

In [17]:
# Replacing 'Call' value with 'c' for Implied Volatility calculation
df_call['Option_type'] = df_call['Option_type'].replace('Call','c')

In [18]:
df_call.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17

In [19]:
df_call.dtypes

Symbols          object
Option_type      object
Expiry           object
Strike_price    float64
Spot_price      float64
BidAsk          float64
Orders            int64
Volume          float64
Premium         float64
Diff(%)         float64
Date             object
dtype: object

In [20]:
df_call.isnull().sum()

Symbols         0
Option_type     0
Expiry          0
Strike_price    0
Spot_price      0
BidAsk          0
Orders          0
Volume          0
Premium         0
Diff(%)         0
Date            0
dtype: int64

#### Calculating 'Time_to_Expiry' col
Time_to_Expiry = Expiry - Date / 250 (Market functioning days)

In [21]:
df_call['Days_diff'] = (df_call['Expiry'] - df_call['Date']).dt.days
df_call.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date  Days_diff
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17        126
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17        581
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17          7
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17        581
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17        581

In [22]:
df_call['Time_to_Expiry'] = (df_call['Days_diff']/250)
df_call.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date  Days_diff  Time_to_Expiry
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17        126           0.504
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17        581           2.324
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17          7           0.028
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17        581           2.324
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17        581           2.324

#### Compute volatility using Pandas rolling and std methods, the trading days is set to 365 days

TRADING_DAYS = 365
returns = np.log(raw_data['Spot']/raw_data['Spot'].shift(1))
returns.fillna(0, inplace=True)
volatility = returns.rolling(window=TRADING_DAYS).std()*np.sqrt(TRADING_DAYS)
volatility.tail()

%matplotlib inline
fig = plt.figure(figsize=(15, 7))
ax1 = fig.add_subplot(1, 1, 1)
volatility.plot(ax=ax1)
ax1.set_xlabel('Date')
ax1.set_ylabel('Volatility')
ax1.set_title('Annualized volatility for input-Raw data')
plt.show()

TRADING_DAYS = 365
returns = np.log(raw_data['Spot']/raw_data['Spot'].shift(1))
returns.fillna(0, inplace=True)
raw_data["volatility"] = returns.rolling(window=TRADING_DAYS).std()*np.sqrt(TRADING_DAYS)
raw_data.tail()

raw_data.shape

raw_data.describe()

raw_data["volatility"].isnull().sum()

raw_data["volatility"].isnull().sum()/len(raw_data) * 100

### Calculationg Implied Volatility of Stock Option

In [23]:
df_call.dtypes

Symbols            object
Option_type        object
Expiry             object
Strike_price      float64
Spot_price        float64
BidAsk            float64
Orders              int64
Volume            float64
Premium           float64
Diff(%)           float64
Date               object
Days_diff           int64
Time_to_Expiry    float64
dtype: object

In [24]:
df_call['BidAsk']

0       5.05
1       4.60
3       2.95
8       1.53
9       6.15
        ...
7819    5.50
7820    0.89
7822    4.62
7823    1.38
7826    5.40
Name: BidAsk, Length: 5077, dtype: float64

price = df_call['BidAsk']
s = df_call['Spot_price']
k = df_call['Strike_price']
t = df_call['Time_to_Expiry']
r = 0
q = 0
flag = 'c'

price = 5.05
s = 9.54
k = 10.0
t = 0.504
r = 0
q = 0
flag = 'c'

iv = implied_volatility(price, s, k, t, r, q, flag)
print(iv)

- <b>price</b>: The option's market price.
- s: The current price of the stock.
- k: The option's strike price.
- t: The time until expiration, expressed in years.
- r: The risk-free interest rate, expressed as a decimal.
- q: annualized continuous dividend rate.
- flag: A string indicating whether the option is a call option ('c') or a put option ('p').

https://stackoverflow.com/questions/61289020/fast-implied-volatility-calculation-in-python

import numpy as np
from scipy.stats import norm
N = norm.cdf

def bs_call(S, K, T, r, vol):
    d1 = (np.log(S/K) + (r + 0.5*vol**2)*T) / (vol*np.sqrt(T))
    d2 = d1 - vol * np.sqrt(T)
    return S * norm.cdf(d1) - np.exp(-r * T) * K * norm.cdf(d2)

def bs_vega(S, K, T, r, sigma):
    d1 = (np.log(S / K) + (r + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
    return S * norm.pdf(d1) * np.sqrt(T)

def find_vol(target_value, S, K, T, r, *args):
    MAX_ITERATIONS = 200
    PRECISION = 1.0e-5
    sigma = 0.5
    for i in range(0, MAX_ITERATIONS):
        price = bs_call(S, K, T, r, sigma)
        vega = bs_vega(S, K, T, r, sigma)
        diff = target_value - price  # our root
        if (abs(diff) < PRECISION):
            return sigma
        sigma = sigma + diff/vega # f(x) / f'(x)
    return sigma # value wasn't found, return best guess so far

In [25]:
df_call.describe()

       Strike_price   Spot_price       BidAsk       Orders         Volume       Premium      Diff(%)    Days_diff  Time_to_Expiry
count   5077.000000  5077.000000  5077.000000  5077.000000    5077.000000  5.077000e+03  5077.000000  5077.000000     5077.000000
mean     164.266939   155.124824     4.056494     7.295647    2801.577112  7.029790e+05    11.661036   113.250148        0.453001
std      392.983901   380.989119     4.429347     6.049169    4983.100369  1.475597e+06    21.035417   147.217554        0.588870
min        1.500000     1.230000     0.110000     5.000000     250.000000  1.252500e+05     0.020000     0.000000        0.000000
25%       30.000000    27.020000     1.520000     5.000000     756.000000  2.364600e+05     1.940000    21.000000        0.084000
50%       62.500000    57.350000     2.930000     5.000000    1390.000000  3.639100e+05     5.200000    53.000000        0.212000
75%      152.500000   147.080000     5.050000     7.000000    2940.000000  6.661800e+05    12.060000   150.000000        0.600000
max     3950.000000  3755.250000    72.900000   124.000000  131530.000000  6.235000e+07   267.290000   850.000000        3.400000

S = df_call['Strike_price']
K = df_call['Spot_price']
T = df_call['Time_to_Expiry']
r = 0
vol = df_call['Volume']

V_market = bs_call(S, K, T, r, vol)
implied_vol = find_vol(V_market, S, K, T, r)

print ('Implied vol: %.2f%%' % (implied_vol * 100))
print ('Market price = %.2f' % V_market)
print ('Model price = %.2f' % bs_call(S, K, T, r, implied_vol))

In [26]:
import py_vollib.black_scholes.implied_volatility as iv

# Define a function to calculate implied volatility
def calculate_implied_volatility(row):
    S = row['Spot_price']
    K = row['Strike_price']
    r = 0  # Risk-free interest rate (set to 0 for simplicity)
    t = row['Time_to_Expiry']
    price = row['BidAsk']
    option_type = row['Option_type']
    
    try:
        implied_volatility = iv.implied_volatility(price, S, K, t, r, option_type)
    except:
        implied_volatility = None
    
    return implied_volatility

# Apply the function to calculate implied volatility for each row in the DataFrame
df_call['Implied_Volatility'] = df_call.apply(calculate_implied_volatility, axis=1)

In [27]:
df_call['Implied_Volatility'].value_counts

<bound method IndexOpsMixin.value_counts of 0       2.082404
1       0.754821
3       0.641070
8       0.268521
9       0.294886
          ...
7819    0.719506
7820    1.054175
7822    0.228837
7823    0.610646
7826    0.392591
Name: Implied_Volatility, Length: 5077, dtype: float64>

In [28]:
df_call.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date  Days_diff  Time_to_Expiry  Implied_Volatility
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17        126           0.504            2.082404
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17        581           2.324            0.754821
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17          7           0.028            0.641070
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17        581           2.324            0.268521
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17        581           2.324            0.294886

In [29]:
df_call.describe()

       Strike_price   Spot_price       BidAsk       Orders         Volume       Premium      Diff(%)    Days_diff  Time_to_Expiry  Implied_Volatility
count   5077.000000  5077.000000  5077.000000  5077.000000    5077.000000  5.077000e+03  5077.000000  5077.000000     5077.000000         5076.000000
mean     164.266939   155.124824     4.056494     7.295647    2801.577112  7.029790e+05    11.661036   113.250148        0.453001                 inf
std      392.983901   380.989119     4.429347     6.049169    4983.100369  1.475597e+06    21.035417   147.217554        0.588870                 NaN
min        1.500000     1.230000     0.110000     5.000000     250.000000  1.252500e+05     0.020000     0.000000        0.000000            0.071907
25%       30.000000    27.020000     1.520000     5.000000     756.000000  2.364600e+05     1.940000    21.000000        0.084000            0.269261
50%       62.500000    57.350000     2.930000     5.000000    1390.000000  3.639100e+05     5.200000    53.000000        0.212000            0.396793
75%      152.500000   147.080000     5.050000     7.000000    2940.000000  6.661800e+05    12.060000   150.000000        0.600000            0.588207
max     3950.000000  3755.250000    72.900000   124.000000  131530.000000  6.235000e+07   267.290000   850.000000        3.400000                 inf

In [30]:
df_call.dtypes

Symbols                object
Option_type            object
Expiry                 object
Strike_price          float64
Spot_price            float64
BidAsk                float64
Orders                  int64
Volume                float64
Premium               float64
Diff(%)               float64
Date                   object
Days_diff               int64
Time_to_Expiry        float64
Implied_Volatility    float64
dtype: object

https://medium.datadriveninvestor.com/black-scholes-and-option-greeks-in-python-6038f184801e
- **Delta** : Measures Impact of a Change in the Price of Underlying [https://www.investopedia.com/terms/d/delta.asp]
- **Gamma**: Measures the Rate of Change of Delta
- **Theta**: Measures Impact of a Change in Time Remaining
- **Vega**: Measures Impact of a Change in Volatility 
- **Rho**: Measures the impact of changes in Interest rates

In [31]:
import numpy as np
from scipy.stats import norm

def calculate_delta(row):
    S = row['Spot_price']  # Spot price
    K = row['Strike_price']  # Strike price
    r = 0  # Risk-free interest rate 
    T = row['Time_to_Expiry']  # Time to expiry in years
    sigma = row['Implied_Volatility']  # Implied volatility

    d1 = (np.log(S / K) + (r + 0.5 * sigma**2) * T) / (sigma * np.sqrt(T))
    delta = norm.cdf(d1)

    if row['Option_type'] == 'put':
        delta -= 1  # Adjust delta for put options

    return delta

# Apply the delta calculation function to each row in the DataFrame
df_call['Delta'] = df_call.apply(calculate_delta, axis=1)

df_call.head(5)

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date  Days_diff  Time_to_Expiry  Implied_Volatility     Delta
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17        126           0.504            2.082404  0.760318
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17        581           2.324            0.754821  0.405748
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17          7           0.028            0.641070  0.456486
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17        581           2.324            0.268521  0.565635
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17        581           2.324            0.294886  0.551220

In [32]:
hjfjhf

NameError: name 'hjfjhf' is not defined

In [34]:
import py_vollib
from py_vollib.black_scholes import black_scholes as bs
from py_vollib.black_scholes.greeks import analytical

# Assuming your dataframe is called df_call
for index, row in df_call.iterrows():
    S = row['Spot_price']  # Spot price
    K = row['Strike_price']  # Strike price
    r = 0  # Risk-free interest rate (assumed to be 0 for simplicity)
    t = row['Days_diff'] / 250 # Time to expiry in years
    sigma = row['Implied_Volatility']  # Implied volatility
    option_type = row['Option_type']  # Option type (either 'call' or 'put')

    # Calculate the Delta using the analytical method
    delta_new = analytical.delta('call', S, K, t, r, sigma)
    
    # Assign the calculated Delta value to the dataframe
    df_call.loc[index, 'Delta_new'] = delta_new

In [35]:
df_call.head(5)

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date  Days_diff  Time_to_Expiry  Implied_Volatility     Delta  Delta_new
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17        126           0.504            2.082404  0.760318   0.760318
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17        581           2.324            0.754821  0.405748   0.405748
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17          7           0.028            0.641070  0.456486   0.456486
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17        581           2.324            0.268521  0.565635   0.565635
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17        581           2.324            0.294886  0.551220   0.551220

In [36]:
import numpy as np
from scipy.stats import norm

# Constants
risk_free_rate = 0  # Example value, replace with your own
df_call['Time_to_Expiry'] = df_call['Time_to_Expiry']

# Calculate Vega
df_call['Vega'] = df_call['Spot_price'] * np.exp(-risk_free_rate * df_call['Time_to_Expiry']) * norm.pdf(df_call['Implied_Volatility']) * np.sqrt(df_call['Time_to_Expiry'])

In [37]:
df_call.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date  Days_diff  Time_to_Expiry  Implied_Volatility     Delta  Delta_new       Vega
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17        126           0.504            2.082404  0.760318   0.760318   0.309055
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17        581           2.324            0.754821  0.405748   0.405748  10.758329
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17          7           0.028            0.641070  0.456486   0.456486   4.593630
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17        581           2.324            0.268521  0.565635   0.565635   5.772530
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17        581           2.324            0.294886  0.551220   0.551220  22.307845

In [43]:

df_call.head()

  Symbols Option_type      Expiry  Strike_price  Spot_price  BidAsk  Orders  Volume   Premium  Diff(%)        Date  Days_diff  Time_to_Expiry  Implied_Volatility     Delta       Vega
0    ISEE           c  2022-10-21          10.0        9.54    5.05       7   360.0  183600.0     4.71  2022-06-17        126           0.504            2.082404  0.760318   0.309055
1    CVNA           c  2024-01-19          60.0       23.52    4.60       7   634.0  310660.0   155.05  2022-06-17        581           2.324            0.754821  0.405748  10.758329
3    TWLO           c  2022-06-24          86.0       84.51    2.95       5   722.0  198800.0     2.48  2022-06-17          7           0.028            0.641070  0.456486   4.593630
8      ET           c  2024-01-19          10.0        9.84    1.53       6  1200.0  186160.0     1.75  2022-06-17        581           2.324            0.268521  0.565635   5.772530
9     WFC           c  2024-01-19          40.0       38.31    6.15       5   250.0  152250.0     4.98  2022-06-17        581           2.324            0.294886  0.551220  22.307845

To calculate Vega in Python for the given DataFrame df_call

Vega = Spot_price * e^(-r * T) * N'(d1) * sqrt(T)

Where:

Spot_price is the current price of the underlying asset.
r is the risk-free interest rate.
T is the time to expiry in years.
N'(d1) is the standard normal probability density function evaluated at d1.
d1 is the input of the cumulative distribution function for the standard normal distribution.